.navbar-default{
    background-color: #115740;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

.myfoot {
    width: 100%;
    color: #ffffff;
    background-color: #115740;
    padding-top: 10px;
}

.foot-text {
    text-align: center;
}

.caption {
  font-size: 0.9em;
  color: #646464;
}

.podcast figure {
  margin-left: 10px;
  margin-bottom: 20px;
}

dl {
    margin-bottom: 9px;
}
dd {
    padding-bottom: 12px;
}
