.navbar-default{
    background-color: #115740;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

.myfoot {
    width: 100%;
    color: #ffffff;
    background-color: #115740;
    padding-top: 10px;
}

.foot-text {
    text-align: center;
}

.caption {
  font-size: 0.9em;
  color: #646464;
}

.podcast figure {
  margin-left: 10px;
  margin-bottom: 20px;
}

dl {
    margin-bottom: 9px;
}
dd {
    padding-bottom: 12px;
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    max-width: 740px;
}
.card-body {
    display: block;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.row {
    display: flex;
}
.col-3 {
    display: block;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-9 {
    display: block;
    flex: 0 0 75%;
    max-width: 75%;
    width: 100%;
}
.xs-mb1 {
    font-size: 1.25rem;
    text-transform: uppercase;
    line-height: 1.2;
}
.xs-mb2 {
    font-size: 1.95rem;
}
.episode-image {
    width: 100%;
}
.episode-player {
    margin-bottom: .5rem;
}
.episode-player audio {
    width: 100%;
}
