.navbar-default{
    background-color: #115740;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

.myfoot {
    width: 100%;
    color: #ffffff;
    background-color: #115740;
    padding-top: 10px;
}

.foot-text {
    text-align: center;
}

dt {
    margin-top: 20px;
}

.caption {
    font-size: 10pt;
    color: #535353;
}
