.centered {
    text-align: center;
}
.float-rt-img {
    display: inline-block;
    float: right;
    margin-left: 25px;
}
.caption {
    font-size: 10pt;
    color: #535353;
}
.info, .success, .warning, .error{
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info > p {
    margin: 0;
}

.question {
    display: inline-block;
    width: 100%;
    background-color: #efefef;
    padding: 12px 8px;
    margin-left: 25px;
    margin-bottom: 10px;
    font-style: italic;
    color: #323232;
}

.question > p {
    margin: 0;
}

/* PNG files from https://www.cssportal.com/tryit/images/ */
.error {
    color: #D8000C;
    background-color: #ffecec;
    background-image: url('images/error.png');
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/warning.png');
}
blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  color: #666;
  text-align: justify;

  /*Borders - (Optional)*/
  border-left: 15px solid #115740;
  border-right: 2px solid #115740;

  /*Box Shadow - (Optional)*/
  -moz-box-shadow: 2px 2px 15px #ccc;
  -webkit-box-shadow: 2px 2px 15px #ccc;
  box-shadow: 2px 2px 15px #ccc;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #B9975B;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "";
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #626262;
}

blockquote a:hover{
 color: #666;
}

blockquote em{
  font-style: italic;
}

dl {
    padding-left: 30px;
}
dt {
    padding-top: 15px;
}

.navbar-default{
    background-color: #115740;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
}

.myfoot {
    width: 100%;
    color: #ffffff;
    background-color: #115740;
    padding-top: 10px;
}

.foot-text {
    text-align: center;
}
